*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
h1{
color: rgb(58, 158, 197);
}
.center{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
border: 1px solid #9999;
padding: 50px;
border-radius: 20px;
}
.item{
margin: 15px;
}

.text_input{
border: 1px solid #9999;
padding: 15px 80px;
}
.submit_input{
padding: 8px 15px;
cursor: pointer;
background-color: skyblue;
color: black;
border: none;
}
a{
cursor: pointer;
color: rgb(58, 158, 197);
text-decoration: none;
}
.btn{
cursor: pointer;
}
